/* src/styles.css */
/* Your global styles below */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f8fafc; }

/* Material icons helper */
.material-icon { font-family: 'Material Icons'; }
