<div class="cta-banner" [attr.data-variant]="variant">
  <!-- Animated background layers -->
  <div class="cta-banner-bg">
    <div class="cta-banner-gradient-orb orb-1"></div>
    <div class="cta-banner-gradient-orb orb-2"></div>
    <div class="cta-banner-gradient-orb orb-3"></div>
    <div class="cta-banner-mesh"></div>
  </div>
  
  <!-- Content layer -->
  <div class="cta-banner-content">
    <div class="cta-banner-icon-wrapper">
      <div class="cta-banner-icon-ring"></div>
      <div class="cta-banner-icon">
        <mat-icon [ngStyle]="{ color: iconColor }">{{ icon }}</mat-icon>
      </div>
    </div>
    
    <div class="cta-banner-message">
      <ng-content select="[cta-message]"></ng-content>
    </div>
    
    <button mat-raised-button class="cta-banner-btn">
      <span class="cta-banner-btn-text">
        <ng-content select="[cta-action]"></ng-content>
      </span>
      <mat-icon class="cta-banner-btn-icon">arrow_forward</mat-icon>
    </button>
  </div>
</div>
